@import "https://fonts.googleapis.com/css?family=Inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply 
		bg-neutral-400 dark:bg-gray-900
		text-black dark:text-white
		min-h-screen;
	}

	h1 {
		@apply text-3xl font-bold;
	}

	h2 {
		@apply text-2xl font-bold;
	}

	h3 {
		@apply text-lg font-bold;
	}

	h4 {
		@apply font-bold;
	}

	h5 {
		@apply text-sm font-bold;
	}

	.bg {
		@apply bg-white dark:bg-gray-800;
	}

	.input {
		@apply 
		bg-white dark:bg-gray-700
		border-slate-300 dark:border-slate-600
		p-1 text-xs border w-full rounded;
	}

	.text-element {
		@apply input mb-2;
	}
	
	textarea,
	input[type="number"],
	input[type="text"],
	select {
		@apply input;		
	}
	
	select {
		@apply read-only:bg-white dark:read-only:bg-gray-700
		disabled:border-none disabled:bg-gray-100 disabled:text-gray-400
		dark:disabled:opacity-30
		box-border;
	}

	button,
	button[type="button"] {
		@apply px-3 py-2 text-sm rounded-lg
		text-white
		bg-blue-600 disabled:bg-neutral-200 disabled:text-neutral-400
		dark:disabled:bg-neutral-700;
	}
	
	label {
		@apply block mb-1 text-xs;
	}

	table {
		@apply text-xs;
	}

	th,
	td {
		@apply py-3 md:py-2 px-1;
	}

	tbody tr {
		@apply border-y border-gray-200;
	}

	a {
		@apply text-sm p-3 hover:bg-neutral-100 active:bg-neutral-200 select-none;
	}

	div.attack-mouseover {
		@apply hidden pointer-events-none group-hover:block absolute text-xs p-1 z-50 min-w-max left-0 top-9 border border-gray-600 shadow bg-white;
	}
}
